<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adminList</title>
    <link rel="stylesheet" type="text/css" href="/static/css/sua/style.css"/>
</head>

<body class="adminbackground">
  <div style="width: 100%; display: flex; justify-content: center; padding-top: 100px;">
    <div style="width: 100%; display:flex; justify-content:center;">
      <div>
          <div class="divbackground">
              <form action="/meaning/listForm" method="post">
                <select class="levelSelectforSearch">
                  <% level.forEach((level) => { %>
                  <option value="<%=level.ID%>">Level <%=level.LEVEL_STEP%></option>     
                  <% }) %>
                  <option value="*">전체보기</option>     
                </select>
                <input type="text" id="searchText" name="searchText" value="">
                <input type="submit" value="🔍︎">
              </form>

        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <table class="table table-bordered table-hover dt-responsive">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Level</th>
                    <th>Korean</th>
                    <th>English</th>
                    <th><button id="allSelectButton" onclick="checkSelectAll();">전체선택</button></th>
                  </tr>
                </thead>
                <tbody>
                    <%
                        info.forEach((list) => {
                    %>
                        <tr>
                            <td>
                              <div style="height: 30px; display: flex; justify-content: center; align-items: center;">
                                <input type="text" class="IdandLevel" value="<%= list.ID %>" readonly></td>
                              </div>
                            <td>
                                <select style=" height: 30px; font-size: 15px;" class="levelClass">
                                    <% level.forEach((level) => { %>
                                        <option value="<%=level.ID%>"
                                            <% if(list.LEVEL_STEP == level.LEVEL_STEP){ %>
                                            selected
                                            <% } %>
                                            >Level <%=level.LEVEL_STEP%></option>     
                                    <% }) %>
                                </select>
                            </td>
                            <td><input style="height: 30px; font-size: 15px; text-align: center;" class="koreanClass" type="text" value="<%= list.KOREAN %>"></td>
                            <td><input style="height: 30px; font-size: 15px; text-align: center;" class="englishClass" type="text" value="<%= list.ENGLISH %>"></td>
                            <td class="speakCheckBox">
                              <div style="text-align: center;">
                                <input type="checkbox" onclick="checkItemsClick();" class="speakCheckBoxList" name="id" value="<%=list.ID%>">
                              </div>
                          </td>
                        </tr>
                    <% 
                        }) 
                    %>
                
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="5">
                      <div style="text-align:center;">
                        <% if( start <= 1){ %>
                          <button disabled>&lt;</button>
                        <%}else{%>
                            <button type="button" onclick="
                                location.href='/meaning/listForm?start=<%=start - 1%>'">&lt;</button>
                        <% }for(let i=1 ; i <= page.totPage ; i++ ){ %>
                            <a href="/meaning/listForm?start=<%= i %>"><%= i %></a>
                        <% }if( start < page.totPage ){%>
                            <button type="button" onclick="
                                location.href='/meaning/listForm?start=<%=start + 1%>'"> &gt;	</button>
                        <% }else{ %>
                            <button disabled> &gt;</button>
                        <% } %>
                      </div>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div style="padding: 10px 0px;display:flex; justify-content:center;">
          <div>
            <button class="mainListBtn" onclick="insertQuestion();">INSERT</button>
          </div>
          <div style="margin: 0px 30px;">
            <button class="mainListBtn" onclick="updateCheck();">UPDATE</button>
          </div>
          <div class="speakGameListButtons">
            <button class="mainListBtn" onclick="deleteCheck();">DELETE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
    <script src = "/static/js/sua/main_list.js"></script>
    <script src = "/static/js/sua/common.js"></script>
</body>
</html>