<h1>Game 1 List</h1>
<table>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Wrong 1</th>
        <th>Wrong 2</th>
        <th>Wrong 3</th>
        <th>Wrong 3</th>
    </tr>
    <% console.log("ytgytgyt   =>>" ,list) %>
    <% list.forEach( (item) => { %>
        <tr>
            <td><%= item.QUESTION %></td>
            <td><%= item.ANSWER %></td>
            <td><%= item.WRONG1 %></td>
            <td><%= item.WRONG2 %></td>
            <td><%= item.WRONG3 %></td>
        </tr>
    <% }); %>
</table>

<br><br>
<hr>


<a href="/game1/start"><button>랜덤 시작하기</button></a>
<br>


<select id="levelSelect">
    <option value="1">Level 1</option>
    <option value="2">Level 2</option>
    <option value="3">Level 3</option>
    <option value="4">Level 4</option>
    <option value="5">Level 5</option>
  </select>
  <button id="startButton">시작하기</button>


  <script>
    document.getElementById("startButton").addEventListener("click", function() {
      const selectedLevel = document.getElementById("levelSelect").value;
      window.location.href = `/game1/start_level/${selectedLevel}`;
    });
  </script>