<script src="https://code.responsivevoice.org/responsivevoice.js?key=oTMD5yMg"></script>

<script>
    
    let cnt = 0;
    let dataSize = 0;
    let underBarBasicDiv;
    let underBarWrongDiv;
    let underBarRightDiv;
    let inputText;
    let text = [];
    let writeText = "";

    window.onload = () => {
        
        // underBarWrongDiv = document.getElementById('underBarWrongDiv');
        // underBarRightDiv = document.getElementById('underBarRightDiv');
        
        dataSize = document.getElementById('dataSize').value;

        // let jump = document.getElementById('jump');
        // let answerCheck = document.getElementById('answerCheck');
        let rightAnswer = document.getElementById('rightAnswer');

        // jump.addEventListener("click", jumpClick);
        // answerCheck.addEventListener("click", answerCheck);
        rightAnswer.addEventListener("click", answerCheck);

        document.getElementById('underBarBasicDiv0').style.display = "block";
        document.getElementById('questionInput0').style.display = "block";
    }

    const jumpClick = (count1) => {
        let count = Number(count1);
        let underBarBefore = "underBarBasicDiv" + count;
        let underBarAfter = "underBarBasicDiv" + (count+1);

        text = [];
        writeText = "";
        let afterQuestion = "questionInput" + cnt;
        ++cnt;
        if(cnt == dataSize){
            alert("문제를 모두 푸셨습니다. 감사합니다.");
            location.href="/speak_question/step";
            return;
        }
        let beforeQuestion = "questionInput" + cnt;
        console.log(afterQuestion);
        console.log(beforeQuestion);

        document.getElementById(underBarBefore).style.display = "none";
        document.getElementById(underBarAfter).style.display = "block";
        document.getElementById(afterQuestion).style.display = "none";
        document.getElementById(beforeQuestion).style.display = "block";
        return;
    }

    const answerCheck = (count1) => {
        let count = Number(count1);
        let rightId = "rightInput" + count;
        let rightInput = document.getElementById(rightId).value + " ";
        console.log(rightInput);
        console.log(writeText);
        if(rightInput === writeText){
            let underBar = "underBarBasicDiv" + count;
            let underBarRight = "underBarRightDiv" + count;
            let underBarRightDiv = document.getElementById(underBarRight);
            document.getElementById(underBar).style.display = "none";
            underBarRightDiv.style.display = "block";
        }else{
            alert("틀렸습니다!");
        }
        return;
    }

    const userAnswersClick = (count1, list) => {
        let count = Number(count1);
        let ids = "userAnswerValues" + count;
        let inputTextId = "userAnswerDiv" + cnt;
        let userAnswerValues = document.getElementById(ids);
        let innerTxt="";
        writeText += list + " ";
        console.log(writeText);
        inputText = document.getElementById(inputTextId);
        
        text[text.length] = {count : "<input id='inputCancel"+count+"' type='button' value='"+ userAnswerValues.value +"' onclick='userAnswersCancel("+count+")' style='display:inline;'> "};
        text.forEach((a) => {
            console.log("a ====> ",a.count);
            if(a.count === undefined || a.count === ""){
                a.count = "";
            }
            innerTxt += a.count;
        });
        inputText.innerHTML = innerTxt;
        console.log(userAnswerValues);
        userAnswerValues.style.display = "none";
        return;
    }

    const userAnswersCancel = (count) => {
        let id = "inputCancel" + count;
        let ids = "userAnswerValues" + count;
        text.forEach((a) => {
            console.log(a.count.indexOf(count));
            if(a.count.indexOf(count) !== -1){
                a.count = "";
            }
        })
        let answerCancel = document.getElementById(id);
        let userAnswerValues = document.getElementById(ids);

        let cancelText = answerCancel.value;

        writeText = writeText.replace(" " + cancelText, "");
        writeText = writeText.replace(cancelText+" ", "");
        writeText = writeText.replace(cancelText, "");
        answerCancel.style.display = "none";
        userAnswerValues.style.display="inline";
        return;
    }

    const rightContinueClick = (count1) => {
        let count = Number(count1);
        let underBarBefore = "underBarBasicDiv" + count;
        let underBarAfter = "underBarBasicDiv" + (count+1);

        text = [];
        writeText = "";
        let afterQuestion = "questionInput" + cnt;
        ++cnt;
        if(cnt == dataSize){
            alert("문제를 모두 푸셨습니다. 감사합니다.");
            location.href="/speak_question/step";
            return;
        }
        let beforeQuestion = "questionInput" + cnt;
        console.log(afterQuestion);
        console.log(beforeQuestion);
        
        let underBar = "underBarBasicDiv" + count;
        let underBarRight = "underBarRightDiv" + count;
        let underBarRightDiv = document.getElementById(underBarRight);
        document.getElementById(underBar).style.display = "block";
        underBarRightDiv.style.display = "none";
        document.getElementById(underBarBefore).style.display = "none";
        document.getElementById(underBarAfter).style.display = "block";
        document.getElementById(afterQuestion).style.display = "none";
        document.getElementById(beforeQuestion).style.display = "block";
        return;
    }

</script>

<input type="hidden" value="<%=data.length%>" id="dataSize">

<% 
    let cnt = 0;
    let answerCnt = 0;
    data.forEach((list) => {  %>
<div id="questionInput<%=cnt%>" style="display:none">
    <input onclick="responsiveVoice.speak('<%= list.QUESTION %>');" type="button" value="Play"> <%= list.QUESTION %><br><br>
    <input type="hidden" value="<%= list.ANSWER %>" id="rightInput<%=cnt%>">

<div style="display:flex;">
    <div id="userAnswerDiv<%=cnt%>"></div>

</div>
<div>
<% 
    
    let answer = word[cnt].random.split(' ');
    for(var i = 0; i < answer.length; i++){
        let ranNum = Math.floor(Math.random() * answer.length);
        let tmp = answer[i];
        answer[i] = answer[ranNum];
        answer[ranNum] = tmp;
    }
    answer.forEach((list) => {
        answerCnt++;
%>
<div style="display:flex;">
    <div>
        <input type="button" id="userAnswerValues<%=answerCnt%>" value="<%=list%>" onclick="userAnswersClick('<%=answerCnt%>', '<%=list%>');" style="display:inline;"> 
    </div>
</div>
<% }) %>
</div>
</div>
<div id="underBarBasicDiv<%=cnt%>" style = "display:none;">
    <input type="button" onclick="jumpClick('<%=cnt%>')" value="건너뛰기"> <input type="button" onclick="answerCheck('<%=cnt%>')" value="확인하기">
</div>
<div id="underBarWrongDiv<%=cnt%>" style="display:none;">
    <div>
        이미지
    </div>
    <div>
        <div>정답:</div>
        <div id="rightAnswer"></div>
    </div>
    <div>
        <input type="button" value="계속하기" onclick="wrongContinueClick('<%=cnt%>');">
    </div>
</div>
<div id="underBarRightDiv<%=cnt%>" style="display:none;">
    <div>
        이미지
    </div>
    <div>
        정답입니당!
    </div>
    <div>
        <input type="button" value="계속하기" onclick="rightContinueClick('<%=cnt%>');">
    </div>
</div>
<% cnt++;}) %>