<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/joon/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <input type="hidden" value="<%=data.length%>" id="dataSize">

    <%
        let msg = "";
        let imsi = [{answer : "우와 정말 대단해요!!"}, {answer : "정말 대단한데요!?"}, {answer : "우와 짱이다!!"}, {answer : "정말 잘했어요!"}, {answer : "다음문제로 고고씽!"}];
        let cnt = 0;
        let answerCnt = 0;
        let imgNum = 0;
        data.forEach((list) => {  
        msg = imsi[Math.floor(Math.random() * imsi.length)].answer;
        imgNum = Math.floor(Math.random() * 10);
    %>
    
    <!-- Speak Question & User Answer Page Start -->
    <div id="mainPage<%=cnt%>" class="mainPage" style="display:none">

        <!-- header Start -->
        <div id="speakHeaderSection<%=cnt%>" class="headerSection" style="display:none">
            <div class="headerSectionTitle">
                <div class="questionTitle">
                   <div class="cancelBtn"><button type="button" onclick="gameExit()"><img src="/static/img/joon/x_button.svg"></button></div>
                   <div class="energyBar">
                        <div id="energyBarFill<%=cnt%>" class="energyBarFill"><br></div>
                   </div>
                   <div class="lifeView">
                        <%
                            for(var i = 3; i >= 1; i--){
                        %>
                            <span class="gameLife<%=i%>">♥</span>
                        <%
                            }
                        %>
                    </div>
                </div>
            </div>
        </div>
        <!-- header End -->


        <!-- Body Start -->
        <div class="speakBodySection">
            <div class="speakBodyLocation">
                <div id="questionInput<%=cnt%>" class="questionInput" style="display:none">
                    <div class="speakBodyTitle">Write in <%=language.LANGUAGE%></div>
                    <div style="display:flex; align-items:center; padding-left: 60px;">
                        <div>
                            <img src="/static/img/joon/game/<%=imgNum%>.png">
                        </div>
                        <div class="contentWindow">
                            <div class="speakerImgBox">
                                <button onclick="responsiveVoice.speak('<%= list.QUESTION %>');" class="speakButton"><img style="width: 25px;" src="/static/img/joon/speaker.png"></button>
                            </div>
                            <div>
                                <% if(content == 1){%>
                                    <span class="speakContent"><%= list.QUESTION %></span>
                                <%}%>
                            </div>
                        </div>
                    </div>
                    <% if(languageCheck == 0){ %>
                        <input type="hidden" value="<%= list.ANSWER %>" id="rightInput<%=cnt%>">
                    <% }else{ %>
                        <input type="hidden" value="<%= list.QUESTION %>" id="rightInput<%=cnt%>">
                    <% } %>
                    
                    <div class="answerBox">
                        <div style="display:flex;">
                            <div class="userAnswerDiv" id="userAnswerDiv<%=cnt%>"></div>
                        </div>
                    </div>

                    <div style="display:flex;">
                        <div class="userAnswerBox">
                            <% 
                                let answer = word[cnt].random.split(' ');
                                for(var i = 0; i < answer.length; i++){
                                    let ranNum = Math.floor(Math.random() * answer.length);
                                    let tmp = answer[i];
                                    answer[i] = answer[ranNum];
                                    answer[ranNum] = tmp;
                                }
                                answer.forEach((list) => {
                                    answerCnt++;
                            %>
                            <input type="button" id="userAnswerValues<%=answerCnt%>" class="disabledCheck userAnswerValues" value="<%=list%>" onclick="userChooseBtn('<%=answerCnt%>', '<%=list%>');" style="display:inline;" disabled=""> 
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Body End -->

        <!-- Footer Start -->

        <div class="footerStartDiv">
            <div class="footerLocation">
                <div id="underBarBasicDiv<%=cnt%>" class="underBarBasicDiv">
                    <div class="footerBasicBtnBox">
                        <input class="footerBasicBtn" type="button" onclick="jumpBtn('<%=cnt%>')" value="건너뛰기"> 
                    </div>
                    <div class="footerBasicBtnBox">
                        <input class="footerBasicBtn checkBtn" type="button" onclick="CheckBtn('<%=cnt%>')" value="확인" disabled>
                    </div>
                </div>
                <div id="underBarWrongDiv<%=cnt%>" class="underBarWrongDiv" style="display:none;">
                    <div style="width: 80px; height: 80px; display: flex; justify-content: center; align-items: center; border-radius: 100px; background-color: white;">
                        <img src="/static/img/joon/wrong.svg">
                    </div>
                    <div>
                        <div id="rightAnswer<%=cnt%>"></div>
                    </div>
                    <div style="display:flex;">
                        <div><input class="footerBasicBtn wrongContinueDiv" type="button" value="다시풀기" onclick="restartBtn('<%=cnt%>')"></div>
                        <div><input class="footerBasicBtn wrongContinueDiv" type="button" value="정답보기" onclick="rightViewBtn('<%=cnt%>')"></div>
                        <div><input class="footerBasicBtn wrongContinueDiv" type="button" value="계속하기" onclick="wrongContinueBtn('<%=cnt%>');"></div>
                    </div>
                </div>
                <div id="underBarRightDiv<%=cnt%>" class="underBarRightDiv" style="display:none;">
                    <div style="display: flex;">
                        <div style="width: 80px; height: 80px; display: flex; justify-content: center; align-items: center; border-radius: 100px; background-color: white;"><img src="/static/img/joon/check.svg"></div>
                        <div style="display: flex; justify-content: center; align-items: center; padding-left: 20px;">
                            <span style="color: green; font-size:30px;"><%=msg%></span>
                        </div>
                    </div>
                    <div>
                        <input class="footerBasicBtn RightContinueDiv" type="button" value="계속하기" onclick="rightContinueBtn('<%=cnt%>');">
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

    </div>
    <!-- Speak Question & User Answer Page End -->
    <% cnt++;}) %>

    <script src="https://code.responsivevoice.org/responsivevoice.js?key=oTMD5yMg"></script>
    <script src="/static/js/joon/speak_question.js"></script>
</body>
</html>