<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/joon/style.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <%- include("../../default/header") %>

    <% 
        console.log("level===> ",level);
        console.log("language ==> ",language);
        console.log("config ==> ", config);
    %>
    <section class="stepPage">
        <form action="speak_quetionStart.do" method="post">
            <div>
            <div class="stepPageLocation">
                <div class="stepPageWidth">
                    <div class="stepSelectDiv">
                        <div>
                            <div class="selectTitle">LEVEL</div>
                            <select class="stepSelectItems" name="level_step">
                                <% level.forEach( ( list )=> { %>
                                    <option value="<%= list.ID %>"
                                        <% if(config.LEVEL_STEP == list.ID){ %>
                                                selected
                                        <%
                                            }
                                        %>
                                        ><%= list.LEVEL_STEP %> Level
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="stepSelectDiv">
                        <div>
                            <div class="selectTitle">QUESTION</div>
                            <select class="stepSelectItems" name="language">
                                <% language.forEach((list)=> { %>
                                    <option value="<%= list.ID %>"
                                        <%
                                            if(config.QUESTION == list.ID){
                                        %>
                                                selected
                                        <%
                                            }
                                        %>
                                        ><%= list.LANGUAGE %></option>
                                <% }) %>
                            </select>
                            
                        </div>
                    </div>
                </div>
                <div class="stepPageWidth">
                    <div class="stepSelectDiv">
                        <div>
                            <div class="selectTitle">CONTENT</div>
                            <select class="stepSelectItems" name="contentState">
                                <option value="1"
                                <%
                                    if(config.CONTENT == 1){
                                %>
                                        selected
                                <%
                                    }
                                %>
                                >ON</option>
                                <option value="2"
                                <%
                                    if(config.CONTENT == 2){
                                %>
                                        selected
                                <%
                                    }
                                %>
                                >OFF</option>
                            </select>
                        </div>
                    </div>
                    <div class="stepSelectDiv">
                        <div>
                            <div class="selectTitle">ANSWER</div>
                            <select class="stepSelectItems" name="answerLang">
                                <% language.forEach((list)=> { %>
                                    <option value="<%= list.ID %>"
                                        <%
                                            if(config.ANSWER == list.ID){
                                        %>
                                                selected
                                        <%
                                            }
                                        %>
                                        >
                                        <%= list.LANGUAGE %>
                                    </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stepStartBtnDiv">
                <div>
                    <input class="stepStartBtn" type="submit" value="시작하기">
                </div>
            </div>
        </div>
        </form>
    </section>
</body>

</html>