<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/css/sua/condition.css" />

</head>
<body>
    <div class="form-container">
        <form action="/meaning/showGames" method="post">
            <h3 style="font-size: 15pt; color:rgb(9, 63, 109)">레벨을 선택해주세요.</h3>
            <select name="level_step" class="small-select">
                <% level.forEach((list) =>{ %>
                    <option value="<%= list.ID %>">Level <%= list.LEVEL_STEP %></option>
                <% }) %>
            </select>
            <h3 style="font-size: 15pt; color:rgb(9, 63, 109)">어떤 언어를 보고 맞추고 싶은가요?</h3>
            <select name="questionLanguage" class="small-select">
                <% language.forEach((list) => { %>
                    <option value="<%= list.ID %>"><%= list.LANGUAGE %></option>
                <% }) %>
            </select>
            <h3 style="font-size: 15pt; color:rgb(9, 63, 109)">어떤 언어들로 매칭해줄까요?(답)</h3>
            <select name="answerLanguage" class="small-select">
                <% language.forEach((list) => { %>
                    <option value="<%= list.ID %>"><%= list.LANGUAGE %></option>
                <% }) %>
            </select>
            <div style="margin-top: 1em;"> <!-- 여기서 시작하기 버튼의 간격을 조절합니다 -->
                <input type="submit" value="시작하기">
            </div>
        </form>
    </div>

    <script src="/static/js/sua/condition.js"></script>
</body>
</html>



        