<%- include("../../../default/adminHeader") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<style>
  h1 {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  th, td {
    text-align: center;
  }
  
  input {
    width: 90%;
    text-align: center;
    margin-top: 20px;
  }
  
  input[type=checkbox] {
    display: flex;
    transform: scale(2); /* Standard */
    margin-top: 50px auto;
  } 

  /* 첫번째요소는 10% (img) 나머지는 7% 너비를 갖는다 */
  th:nth-child(1), td:nth-child(1) { width: 10%; }
  th:nth-child(2), td:nth-child(2) { width: 10%; }
  th:not(:nth-child(1), :nth-child(2)), td:not(:nth-child(1), :nth-child(2)) { width: 7%; }

</style>


<% if ( msg !== undefined ) { %>
  <div id="alertDiv" class="alert alert-danger" role="alert">
    <% if (msg) { %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      <%= msg %>
    <% } %>
  </div>
<% } %>


<br><br>
<h1>PHOTO GAME 수정 페이지</h1>
<br><br>
<form action="/game1/deleteRecord" method="POST">
  <table class="table custom-table" style="border: 1px; border-color:#CFF4FC;">
    <tr class="table-warning">
      <th>Image</th>
      <th>Question</th>
      <th>Question Level</th>
      <th>Answer</th>
      <th>Wrong 1</th>
      <th>Wrong 2</th>
      <th>Wrong 3</th>
      <th>Edit</th>
      <th><button class="btn btn-danger">Delete</button></th>
    </tr>

    <% list.forEach((item) => { %>
      <tr>
        <td><img src="/static/game1_files/<%= item.IMG %>" alt="Image" width="100px" height="70px"></td>
        <td><input type="text" name="question_<%= item.RECORD_ID %>" value="<%= item.QUESTION %>"></td>
        <td><input type="number" name="question_level_<%= item.RECORD_ID %>" value="<%= item.QUESTION_LEVEL %>"></td>
        <td><input type="text" name="answer_<%= item.RECORD_ID %>" value="<%= item.ANSWER %>"></td>
        <td><input type="text" name="wrong1_<%= item.RECORD_ID %>" value="<%= item.WRONG1 %>"></td>
        <td><input type="text" name="wrong2_<%= item.RECORD_ID %>" value="<%= item.WRONG2 %>"></td>
        <td><input type="text" name="wrong3_<%= item.RECORD_ID %>" value="<%= item.WRONG3 %>"></td>
        <!-- <td><a href="/game1/edit/<%= item.RECORD_ID %>"><button type="button" class="btn btn-warning" style="margin-top: 5;" >수정</button></a></td> -->
        <td><button type="button" class="btn btn-warning" style="margin-top: 20px;" onclick="modifyRecord('<%= item.RECORD_ID %>')" >수정</button></td>
        <td><input type="checkbox" name="delete_checkbox" value="<%= item.RECORD_ID %>" style="margin-top: 30px;"></td>
      </tr>
    <% }); %>
  </table>
</form>

<a href="/game1/register">
  <div style="text-align: center;">
    <button class="btn btn-info" style="color: beige;">문제 등록</button>
  </div>
</a>


<script>
  function modifyRecord(recordId) {
    
  const question = document.querySelector(`input[name="question_${recordId}"]`).value;
  const questionLevel = document.querySelector(`input[name="question_level_${recordId}"]`).value;
  const answer = document.querySelector(`input[name="answer_${recordId}"]`).value;
  const wrong1 = document.querySelector(`input[name="wrong1_${recordId}"]`).value;
  const wrong2 = document.querySelector(`input[name="wrong2_${recordId}"]`).value;
  const wrong3 = document.querySelector(`input[name="wrong3_${recordId}"]`).value;

    const data = {
      recordId: recordId,
      question: question,
      question_level: questionLevel,
      answer: answer,
      wrong1: wrong1,
      wrong2: wrong2,
      wrong3: wrong3,
    };

    fetch(`/game1/modify`, {
      method: 'POST',
      headers: {'Content-Type': 'application/json',},
      body: JSON.stringify(data),
    })
    .then(res => res.json())
    .then(result => {
      if (result.success) {
        alert('수정');
      } else {
        alert('수정 실패');
      }
    })
    .catch(error => {
      console.error(error);
      alert('오류 발생');
    });
  }
</script>