<%- include("../default/header") %>
<!DOCTYPE html>
<html>
<head>
	<style>
		div {
			width: 100%;
			padding: 20px;
			text-align: center;
		}
		
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			margin: auto;
			width: 30%;
			border-top: 1px solid #dddddd;
		}
		
		td {
			border-bottom: 1px solid #dddddd;
			text-align: left;
			padding: 10px;
		}
		
		#c {
            width: 25%;
			color: #ffffff;
			background-color: #00a0ff;
			font-weight: bold;
		}
		
		input[type=button] {
	  	width: 10%;
	  	background-color: #00a0ff;
	  	color: white;
	  	padding: 10px 20px;
	  	margin: 10px 0;
	  	border: none;
	  	border-radius: 12px;
	  	cursor: pointer;
	  	box-shadow:
    		inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    		inset -2px -2px 3px rgba(0, 0, 0, 0.6);	
		font-weight: bold;
	  	font-size: 16px;
	}
	</style>
</head>
<body>	
	<div>
		<% if(userId === undefined) { %>

		<% } else { %>
		<h2>마이페이지</h2>
        <br>
		<table>		  	
			<tr>
			    <td id="c">아이디</td>
			    <td><%=member[0].ID%></td>
		  	</tr>
		  	<tr>
		    	<td id="c">성명</td>
		    	<td><%=member[0].NAME%></td>
		  	</tr>
			<tr>
				<td id="c">이메일</td>
				<td><%=member[0].EMAIL%></td>
			</tr>
		  	<tr>
		    	<td id="c">비밀번호</td>
		    	<td><%=member[0].PW%></td>
		  	</tr>
		</table>
		<a href="/member/update"><input type="button" value="수정하기"></a>&nbsp;
		<a href="/ranking/score"><input type="button" value="랭킹보기"></a>&nbsp;
		<a href="#"><input type="button" value="탈퇴하기"></a>
		<% } %>
	</div>
</body>
</html>