<%- include("../default/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            div {
                width: 100%;
                padding: 20px;
                text-align: center;
            }
            
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                margin: auto;
                width: 80%;
                border-top: 1px solid #dddddd;
            }

            th {
                color: #ffffff;
                background-color: #00a0ff;
                font-weight: bold;
                height: 40px;
            }
            
            td {
                border-bottom: 1px solid #dddddd;                
                text-align: center;
            }           
    </style>
</head>
<body>
    <div>
        <h2>내 점수</h2>       
        <table>
            <tr>
                <th>MEANING GAME</th>
                <th>PHOTO GAME</th>
                <th>BLANK GAME</th>
                <th>LISTENING GAME</th>
                <th>TOTAL</th>
            </tr>
            <tr>              
                <td><%= member[0].MEANING_GAME %></td>
                <td><%= member[0].PHOTO_GAME %></td>
                <td><%= member[0].BLANK_GAME %></td>
                <td><%= member[0].LISTENING_GAME %></td>
                <td><%= member[0].MEANING_GAME + member[0].PHOTO_GAME + member[0].BLANK_GAME + member[0].LISTENING_GAME %></td>
            </tr> 
        </table>
    </div>
</body>
</html>