<%- include("../default/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            div {
                width: 100%;
                padding: 20px;
                text-align: center;
            }
            
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                margin: auto;
                width: 80%;
                border-top: 1px solid #dddddd;
            }

            th {
                color: #ffffff;
                background-color: #00a0ff;
                font-weight: bold;
                height: 40px;
            }
            
            td {
                border-bottom: 1px solid #dddddd;                
                text-align: center;
            }           
    </style>
</head>
<body>
    <div>
        <h2>총 점수 랭킹</h2>
        <!--
        <%= member.SCORE_ID %>
        <%= member.MEMBER_ID %>
        <%= member.UPDATE_DATE %>
        <%= member.GAME1_SCORE %>
        <%= member.GAME2_SCORE %>
        <%= member.GAME3_SCORE %>
        -->
        <table>
            <tr>
                <th>No</th>
                <th>ID</th>
                <th>MEANING GAME</th>
                <th>PHOTO GAME</th>
                <th>BLANK GAME</th>
                <th>TOTAL</th>
                <th>DATE</th>         
            </tr>
            <% for(var i=0; i<member.length; i++) { %>
                <tr>
                    <td><%= cnt++ %></td>
                    <td><%= member[i].ID %></td>
                    <td><%= member[i].MEANING_GAME %></td>
                    <td><%= member[i].PHOTO_GAME %></td>
                    <td><%= member[i].BLANK_GAME %></td>
                    <td><%= member[i].MEANING_GAME+member[i].PHOTO_GAME+member[i].BLANK_GAME %></td>
                    <td><%= member[i].PHOTO_GAME_DATE %></td>                  
                </tr>
            <% } %>
        </table>
    </div>
</body>
</html>